In [1]:
import pandas as pd
df0 = pd.read_csv('output.csv')
df1 = pd.read_csv('output1.csv')
df1.head()

,Unnamed: 0,url,reviews,rating,price
0,0,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,920 customer reviews,4.4 out of 5 stars,$7.99
1,1,http://www.amazon.com/The-Host-Novel-Stephenie...,"6,109 customer reviews",4.5 out of 5 stars,$7.99
2,2,http://www.amazon.com/Love-Youre-With-Emily-Gi...,702 customer reviews,4.0 out of 5 stars,$8.99
3,3,http://www.amazon.com/The-Front-Garano-Patrici...,323 customer reviews,3.0 out of 5 stars,$7.99
4,4,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,237 customer reviews,3.5 out of 5 stars,$9.99

       Unnamed: 0
count   196.00000
mean     97.50000
std      56.72448
min       0.00000
25%      48.75000
50%      97.50000
75%     146.25000
max     195.00000